.video-list {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
    &__item {
        display: flex;
        flex: 0 1 100%;
        margin: 0 0 10px;
        cursor: pointer;
    }
    &__img {
        width: 168px;
    }
    &__detail {
        padding-left: 10px;
    }
    &__title {
        margin: 0 0 5px;
        color: #030303;
        font: 500 14px/18px 'Roboto', sans-serif;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    &__channel {
        font: 400 13px/18px 'Roboto', sans-serif;
        color: #606060;
        margin: 5px 0;
    }
}
